<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aj">
<uses-permission android:name="android.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AJ">
        <activity android:name=".View.Activity.AlarmManager"></activity>
        <activity android:name=".View.Activity.Attend" />
        <activity android:name=".View.Activity.SettingsAct" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCsxuUw15eTyeuIEEWgbWm7MuFsj1atV20" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".View.Activity.NavDrawer">

        </activity>
        <activity android:name=".View.Activity.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".View.Activity.Register"></activity>
        <activity android:name=".View.Activity.Login"></activity>

        <receiver
            android:name=".DataRepository.BroadcastReceiver.AlertReceiver"
            android:enabled="true"
            android:exported="false"/>

    </application>

</manifest>